html,
body {
    margin: 0px;
    /* font-family: ‘Roboto’; */
    height: 100%;
}

.box {
    height: 100%;
    background: #180F2C;
}

.splash-btn{
    background: #424242;
    font-weight:bold;
    border: 2px solid white;
    color:white;
}

.splash-btn:hover{
    color:white;
    background: #212121;
}

.player-box{
    height:35vh;
}

#playerBox{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#com1Box{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#com2Box{
    border-right: 2px solid black;
    border-top: 2px solid black;
}

#com3Box{
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.imgTangan{
    width:120px;
}

.nameTxt{
    font-size:28px;
}

@media screen and (max-width: 700px) {
    .imgTangan{
        width:75px;
    }
    .left{
        margin-bottom:15px;
    }
    .right{
        margin-top:15px;
    }
    .nameTxt{
        font-size:20px;
    }
}





.pickBtn{
    text-decoration:none;
    padding:15px 20px;
    font-weight:bold;
    font-size:1.7vh;
    background-color:rgba(192, 192, 192, 0.9);
    border: 1px solid #424242;
    border-radius:5px;
    box-shadow: 13px 5px 36px -8px rgba(0,0,0,0.30);
}

.pickBtn:hover{
    background: #A1A1A1;
}